.icon {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: contain;
  &-angular {
    background-image: url("../../public/tech/angular.svg");
  }
  &-vue {
    background-image: url("../../public/tech/vue.svg");
  }
  &-react {
    background-image: url("../../public/tech/react.svg");
  }
  &-golang {
    background-image: url("../../public/tech/golang.svg");
  }
  &-symfony {
    background-image: url("../../public/tech/symfony.svg");
  }
  &-laravel {
    background-image: url("../../public/tech/laravel.svg");
  }
  &-node {
    background-image: url("../../public/tech/node.svg");
  }
  &-kubernetes {
    background-image: url("../../public/tech/kubernetes.svg");
  }
  &-bitbucket {
    background-image: url("../../public/tech/bitbucket.svg");
  }
  // &-python {
  //   background-image: url("../../assets/icons/tech/python.svg");
  // }
  &-java {
    background-image: url("../../public/tech/java.svg");
  }
  &-php {
    background-image: url("../../public/tech/php.svg");
  }
  &-aws {
    background-image: url("../../public/tech/aws.svg");
  }
  &-node {
    background-image: url("../../public/tech/node.svg");
  }
  &-digitalOcean {
    background-image: url("../../public/tech/digital-Ocean.svg");
  }
}
.slide-title {
  margin-top: 15px;
  text-align: center;
  color: #d2d2d2;
}

.slide-wrapper {
  height: calc(175px - 36px);
  padding-top: 36px;
}

.slider-wrapper {
  background-color: white;
}

.icon-slider > .swiper-wrapper {
  height: 175px;
}

@media (max-width: 420px) {
  .icon {
    width: 50px;
    height: 50px;
  }
}

.icon-slide {
  height: calc((100% - 30px) / 2) !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper:before {
  position: absolute;
  height: 100%;
  width: 150px;
  content: "";
  left: 0;
  z-index: 3;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
.slider-wrapper:after {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100px;
  content: "";
  right: 0;
  top: 0;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
